.Main-top-layout {
    padding-bottom: 15px;
}

.Main-content-layout {
    padding-top: 10px;
}

.members-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.menu-layout-header{
    padding:0px;
}

.no-border{
    border-right: none;
    border-bottom: none;
    box-shadow: none;
}
#sessionForm > * {
    display: block;
    margin-top: 5px;
}

#sessionForm > *:first-child {
    margin-top: 0px;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}
.User-container{
    padding: 20px;
}
.User-card-text{
    text-align: center;
    background: gr;
}